<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'layouts/error', locals: { object: @drink } %>
    <%= link_to "Create
     a New Ingredient", new_ingredient_path, class: "btn btn-sm btn-primary" %>  <%= link_to "Go Back",  user_path(current_user), class: "btn btn-sm btn-primary" %>
    
    <br><br>

    <%= form_for @drink, :url => "/users/#{current_user.id}/drinks/#{@drink.id}" do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %> <br>

    <% if @drink.id %>
      <!-- This is the edit scenario, triggered if the form is rendered by the edit action -->
      <h2>Select an Ingredient</h2>
      <% @drink.ingredients.each.with_index do |ingredient, index| %>
        <%= f.select :ingredients, Ingredient.formatted_list, {:include_blank => '-', :selected => ingredient.id}, :name => "drink[ingredients][#{index}][id]" %>
          <label>Quantity</label>
          <input type="text" name="drink[ingredients][<%= index %>][quantity]" value="<%= find_quantity @drink, ingredient %>"><br>
      <% end %>

      <br><h2>Add Ingredients</h2><br>
      <%= f.select :ingredients, Ingredient.formatted_list, {:include_blank => '-'}, :name => "drink[ingredients_attributes][0][id]" %>
          <label>Quantity</label>
          <input type="text" name="drink[ingredients_attributes][0][quantity]"><br>
    
    <% else %>
      <!-- This is the new scenario if the form is rendered from the new action -->
      <br>
      <h2>Add a new Ingredient</h2><br>
      <% 5.times do |idx| %>
        <%= f.select :ingredients, Ingredient.formatted_list, {:include_blank => '-'}, :name => "drink[ingredients_attributes][#{idx}][id]" %>
          <label>Quantity</label>
          <input type="text" name="drink[ingredients_attributes][<%= idx %>][quantity]"><br>
      <% end %>
      <br><br>
    
    <% end %>

      <%= f.label :instructions %>
      <%= f.text_area :instructions %> 

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>