<% provide(:title, "All Drinks") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @drinks.empty? %>
         <h1>There are no drinks!</h1>
      <% else %>
        <% @drinks.each do |drink| %>
          <ul>
          <li><strong><%= link_to drink.name.titlecase, drink_path(drink) %></strong> 
          Created by <%= drink.user.username.titlecase %> on <%= drink.created_at.to_date.to_formatted_s(:long) %>- Rating: <%= drink.ratings.average(:rating) %></li></li>
          </ul>
        <% end %>
      <% end %>
      <br>
      <%= link_to "Create a new Drink",  new_user_drink_path(current_user), class: "btn btn-sm btn-primary" %>
      <%= link_to "Go Back",  user_path(current_user), class: "btn btn-sm btn-primary" %>
    </section>
  </aside>
</div>



