<% provide(:title, 'New Ingredient') %>
<%= link_to "Go Back", :back, class: "btn btn-sm btn-primary" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <h1>Add a new ingredient!</h1>
    <br><br>

    <%= form_for @ingredient do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %> <br>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>