<!DOCTYPE html>
<html>
  <head>
<title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Home", root_path %>
      <%= link_to "Sign up" %>
      <%= link_to "log in" %>
    </header>

    <h1>Tiki-Tiki Cocktail CMS!</h1>
    <%= yield %>
  </body>
</html>
