<!DOCTYPE html>
<html>
  <%= render 'layouts/rails_default' %>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>

      <%= yield %>

    <%= render 'layouts/footer' %>
    
    </div>
  </body>

</html>
